<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="RapidTech1898">
    	<meta name="keywords" content="development webdesign finance">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
		<title>RapidTech1898</title>
		<script src="https://kit.fontawesome.com/bf5e040b82.js" crossorigin="anonymous"></script>
		<!-- external CSS link -->   
        <!-- OLD   		
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">		
        <link rel="stylesheet" href="../css/basic.css">
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/dataTables.bootstrap4.min.css">
		<link rel="stylesheet" href="../css/font-awesome.min.css"> -->
        <!-- NEW:  -->
        <!-- <link rel="stylesheet" href="../public/css/basic.css"> -->
        <link rel="stylesheet" href="../css/basic.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">		
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">	
	</head>
    <body>
        <div class="container py-5">
            <header class="text-center text-white">
                <h1 class="display-4">Levermann Scores</h1>
            </header>
            <div class="row py-5">
            <div class="col-lg-10 mx-auto">
                <div class="card rounded shadow border-0">
                <div class="card-body p-5 bg-white rounded">
                    <div class="table-responsive">
                    <table id="example" style="width:100%" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Ticker</th>
                                <th>Name</th>
                                <th>Calc Date</th>
                                <th>Index</th>
                                <th>Market Cap</th>
                                <th>Cur.</th>
                                <th>Sector</th>
                                <th>Industry</th>
                                <th>Cap</th>
                                <th>Fin Stock?</th>
                                <th>Last Earning</th>
                                <th>Score</th>
                                <th>Recommend</th>
                            </tr>
                        </thead>
                        <tbody>   
                            <% rows.forEach( el => { %>
                                <tr class='TickerRow' data-id='<%=el.ticker%>'>
                                    <td><%= el.ticker %></td>
                                    <td><%= el.stockName %></td>
                                    <td><%= el.calcDate.toISOString().split('T')[0] %></td>
                                    <td><%= el.indexName %></td>
                                    <td><%= el.marketCap %></td>
                                    <td><%= el.currency %></td>
                                    <td><%= el.sector %></td>
                                    <td><%= el.industry %></td>
                                    <td><%= el.cap %></td>
                                    <td><%= el.financeStock %></td>                                     
                                    <td><%= el.lastEarnings %></td>                                
                                    <td><%= el.scoreFull %></td>
                                    <td><%= el.recommendFull %></td>
                                </tr>
                            <% }) %>                                                                                
                         </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <!-- OLD
        <script type="text/javascript" src="../js/jquery-3.3.1.slim.min.js"></script>    
        <script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>    
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="../js/dataTables.bootstrap4.min.js"></script>    
        <script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>                
        <script type="text/javascript" src="../js/main.js"></script>     -->
        <!-- NEW: -->
        <!-- <script type="text/javascript" src="../public/js/main.js"></script>    -->
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>   
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>